<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Levels_S2/Level5/templates/stylesheet/level_5_style.css">
    <title>Level 5</title>
</head>
<body>
    <label>Level 5</label>
    
    <div id="stat-container">
        <label class="stat-label" id="coin-stat-label">Coins: </label><br>
        <label class="stat-label" id="inventory-stat-label">Inventory: </label><br>
        <label class="stat-label" id="stamina-stat-label">Stamina: </label>
    </div>

    <script type="module" src="/Levels_S2/Level5/scripts/level_5_script.js"></script>
</body>
</html>