body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 22, 90);
    background: url(/assets/pixel_city_background.jpg) no-repeat;
    background-size: cover;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 130px
}
#menu_label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 130px  
}

#version_label{
    text-decoration: none;
    color: black;
}

#credit_label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-decoration: underline;
    padding-bottom: 20px;
    margin-top: 30px;
    
}

#credit_label:hover{
    color: rgb(57, 57, 46);
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.button-container{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    gap: 25px;
    
}

button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 55px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 2px 3px 1px ;
    transition: 0.5s;
}

button:hover{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
    width: 290px;
    border-radius: 12px;
    box-shadow: 2px 5px 1px ;
    color: rgb(50, 50, 50);
}

