body{
    background: url(/assets/pixel_earth_background.png) no-repeat;
    background-size: cover; 
}

.music{
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: 540px;
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px);         
  -webkit-backdrop-filter: blur(10px);  
  border-radius: 15px;
  padding: 30px;
  color: #fff;
  max-width: 400px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: 0.5s;
  }

.music:hover{
  background: rgba(94, 93, 93, 0.2); 
  backdrop-filter: blur(10px);         
  -webkit-backdrop-filter: blur(10px);  
  border-radius: 25px;
}



.mainlabel{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: rgb(255, 255, 255);
  font-style: oblique;
  outline-color: black;
}

#musiclabel{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 30px;
  margin-top: 30px;
  
}

