body{
    background: url(/assets/pixelated\ japanese\ house\ by\ the\ forest\ background.gif)  ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    
}


#coin_label {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #ffffff;
    color: black;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    z-index: 1000;
}



#coin {
    position: fixed;
    top: 36px;
    left: 10px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1000;
}


