body{
    background: url(/assets/cabin\ on\ island\ lake\ green\ forest\ pixelated\ background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding-top: 50px;
    

}

.product{
   
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(4, 1fr);
     background-color: rgba(40, 35, 30, 0.1);

    
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(10px);

    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);

    padding: 10px;
    margin: 10px;
}

.product button{
    width: 100px;
}

#item_1,
#item_2{
    width: 300px;
    padding: 15px;
    margin: 11px;
    border: none;
    border-radius: 13px;
    outline: none;
    font-size: 10px;
    text-align: center;
    margin-left: 10px;
    
}

button{
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
    
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(10px);

    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);

}

label {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color: white;
    text-shadow: 2px 2px 1px black;
}

#info{
    margin-bottom: 30px;
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 1px black;
}


.button_row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

