

body{
    background: url(/assets/sakura\ tree\ on\ island\ above\ the\ sky\ white\ pixelated\ background.webp)  no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding-top: 50px;
    

}


.button_row{
    gap: 10px;
}


button{
    border-radius: 10px;
    font-size: 40px;
    margin: 10px;
    position: relative;
    top: 40px;
    left: 40px;
    margin: 10px;
}




