


body{
     background: url("https://media.pxlart.com/5050b240-pixel-art-crystalline-cave-glowing-geodes-underground-compressed.jpg") no-repeat;
     background-size: cover;
     background-position: center;
     display: flex;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


input{
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 40px;
     border-radius: 10px;
     border: none;
}

.buttons {
    display: flex;
    gap: 15px;               
    align-items: center;
    justify-content: center;
}


input {
    font-size: 40px;
    border-radius: 10px;
    border: none;
    padding: 10px;
}


button {
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
}





