body{
     background: url("https://media.pxlart.com/5050b240-pixel-art-crystalline-cave-glowing-geodes-underground-compressed.jpg") no-repeat;
     background-size: cover;
     background-position: center;

}

