#container{
    display: flex;
    justify-content: center;
}

#Checkpoint{
    display: flex;
    justify-content: center;
    font-size: 80px;
}

button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    width: 150px;
    border-radius: 10px;
    box-shadow: 2px 3px 1px ;
    transition: 0.5s;
}

button:hover{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    width: 170px;
    border-radius: 12px;
    box-shadow: 2px 5px 1px ;
    color: rgb(50, 50, 50);
}