body{
    background: url(/assets/lake\ spruce\ tress\ pixelated\ sunset\ background.jpg) no-repeat;
    margin: 0;
    min-height: 100vh;
    background-size: cover;
    background-position: center bottom;
    
}

#Checkpoint{
    display: flex;
    justify-content: center;
    font-size: 80px;
    text-shadow: 1px 2px 5px white;
}

#coin_label{
    position: absolute;
    top: 130px;
    left: 740px;
    font-weight: bold;
    font-size: 30px;
    text-shadow: rgb(255, 255, 255 ) 1px 1px;
}

#container {
    position: absolute;
    left: 680px;
    top: 250px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}


button {
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    font-size: 30px;
    padding: 15px 40px;
    border-radius: 15px;
    border: none;
    background-color: rgb(22, 22, 22);
    color: white;
    cursor: pointer;
    transition:  0.4s ease;
}


button:hover {
    background: linear-gradient( #ff8c00, #ff3c00);
    box-shadow:
        0 0 15px orange,
        0 0 40px red,
        0 12px 25px black;
    letter-spacing: 2px;
}



button:active {
    scale:0.9;
}