body{
    background: url(/assets/chill\ midnight\ pixel\ background.webp) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



.text{
    font-size: 110px;
}

#coin_label{
    position: fixed; 
    top: 10px;       
    left: 10px;      
    background-color: #3f2d80;
    color: rgb(0, 0, 0);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
    outline-style: solid;
    
}

#coin{
    width: 50px;
    height: 50px;
    border-radius: 300px;;
    position: fixed;
    top: 10px;      
    left: 13px;     
    padding: 30px 8px;

}

.boxes{
    margin: 100px;
    border-radius: 20px;
}

input[type="checkbox"]{
    transform: scale(2.8);
    margin: 20px;
}

.submit_button {
    font-size: 50px;
    border-radius:20px;
    transition: 0.5s;

}

.submit_button:hover{
    background: url(/assets/infinite\ space\ 1.webp) no-repeat;
    background-size: cover;
    color: white;
}

.submit_button:active{
    scale: 0.9;
}

#level3_label{
    color: black;
}
