#height{
    height: 20cm;
}

#next_level{
    font-size: 50px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    height: 20px;       
    width: 20px;
    border-color: white;
    box-shadow: none;
    
}

#next_level:hover{
    size: 50px;
    background-color: black;
}