body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 18px;

}

.wrapper{
    box-shadow: 1px 1px 9px;
    border: 2px solid;
    border-radius: 10px;
    padding: 20px;
    margin: 30px;
    width: 300px;
}

.button-container{
    margin: 10px;
    display: flex;
    justify-content: center;
}

button{
    margin: 7px;
    border-radius: 12px;
    font-size: 20px;
    

}

label{
    display: flex;
    justify-content: center;
    font-size: 30px;
}