body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
    background-color: rgb(36, 203, 203);

}

.wrapper{
    box-shadow: 1px 1px 9px;
    border: 2px solid;
    border-radius: 10px;
    padding: 20px;
    margin: 30px;
    width: 300px;
    background-color: rgb(77, 155, 198);
}

.button-container{
    margin: 10px;
    display: flex;
    justify-content: center;
}

button{
    margin: 7px;
    border-radius: 12px;
    font-size: 20px;
    transition: 0.2s;

}

label{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: wheat;
    font-style: oblique;
}

button:hover{
    font-size: 18px;
    background-color: rgb(199, 199, 199);

}