#height{
    height: 21cm;
}

p{
    display: flex;
    justify-content: center;
}
#next_level{
    font-size: 50px;
    color: rgb(255, 255, 255);
    background-color: #937b02;
    height: 20px;       
    width: 20px;
    border-color: #937b02;
    box-shadow: none;
    
}

#next_level:hover{
    size: 50px;
    background-color: #5c4d01;;
}

#main-label{
    display: flex;
    justify-content: center;
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#coin_label{
    position: fixed; 
    top: 10px;       
    left: 10px;      
    background-color: #d0d30c;
    color: rgb(0, 0, 0);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
}

#coin{
    width: 50px;
    height: 50px;
    border-radius: 300px;;
    position: fixed;
    top: 10px;      
    left: 13px;     
    padding: 30px 8px;
}



body{
    background-color: #937b02;
}

#continue_button{
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: fixed;
    top: 400px;
    font-size: 40px;
    
}

