body{
    align-items: center;
}


.wrapper{
    display:flex;
    align-items: center;
    max-width: 500px;
    max-height: 200px;
    margin-left: 500px;
    padding: 50px;
    background-color: rgb( 70, 55, 40 , 0.5);
    

}




#height {
    height: 21cm;
}


#coin_label {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #d0d30c;
    color: black;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    z-index: 1000;
}


#coin {
    position: fixed;
    top: 36px;
    left: 10px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1000;
}





