label{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    text-decoration: underline;
    
}

.product{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items:center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 100px;
}



