label{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    text-decoration: underline;
    color: rgb(0, 0, 0);
    text-shadow: 3px 1px 4px white;
    
}

.product{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items:center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 140px;
    padding-right: 60px;
    gap: 30px;
}

.panels{
    align-items: center;
    justify-content: center;
    padding: 3px;

    background-color: rgb(70, 55, 40, 0.5);

    border-radius: 8px;
    box-shadow: 6px 7px 5px rgb(0, 0, 0);
    width: 200px;
    height: 330px;
    margin-bottom: 30px;
}


.purchase_Btn{
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    border-radius:10px;
    font-size: 16px;
    transition: 0.6s;
}

.purchase_Btn:hover{
    scale: 0.9;
}


p{
    margin-left: 50px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}



#wires{
    margin-left: 70px;
}



#chair{
    margin-left: 70px;
}



#ironbar{
    margin-left: 55px;
}

.description{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;
    margin-left: 30px;
}




img{
    width: 200px;
    height: 200px;
}

body{
    background: url(https://wallpaperaccess.com/full/436039.png) no-repeat;
    background-size: cover;
}

