body{
     background: url("/assets/library_background_2.jpg") no-repeat;
     background-size: cover;
}
.book::selection{
    background-color: rgb(0, 136, 102);
}
.special_book::selection{
    background-color: rgb(0, 0, 0);
}
label{
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: white;
}